*{
  margin: 0;
  padding:0;
}

#h1{
  font-size: 2.0rem;
  font-weight: bold;

}

.menuRight{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: gray;
  font-weight: bold;

}

.line{
  border-bottom: 2.5px solid #d4d3d3;
  margin-bottom: 30px;
  color: #4aaaa5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
  text-align: center;
  vertical-align: bottom;
  font-weight:bold;
  font-size: 30px;
  width: 100%;
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  padding: 10px;

}

p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height: 40px;
  font-size: 20px;
 
}


body {
  background-image:url(../images/dust_scratches.png);
  height: 100%;
  margin: 0;
  line-height: 2;

}

.whiteBlock{
  background-color: #ffffff;
}

.footer-sticky{
  text-align: center;
  color: #ffffff;
  background-color: #666666;
  border-top: #4aaaa5 10px solid;

}

.backgroundBlock {
  background-color: #ffffff;
  border-color: #cccccc;

}

.imgWilson {
  float: left;

}

.card-img-top{
  width: 25rem;

}

.card-text-edited{
  bottom: 30px;
  /* margin-top:10px;
  margin-right: -20px;
  margin-left:-20px; */
  text-align: center;
  background-color: #4aaaa5 ;
  color: white;
  text-align: center;
  font-size: 25px;

}

.card-margin{
  margin: 3rem;
}

.card-body{
  background-color: #4aaaa5;
}

a:hover{
    text-decoration: none;
    font-style: normal;
    font-size: 150%;
    font-weight: bolder;
    opacity: 90;
    transition: .5s ease;
    background-color: rgb(235,235,235);
    
}

.flexWrap{
  display: "flex";
  flex-wrap:"wrap";
  justify-content: normal;
  /* margin-right:0rem;
  margin-left:0rem; */
}

#font-portfolio{
  font-size:5px;
}

.margin-centered{
  margin-left: 8rem;
  margin-right:8rem;
} 

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

/* "Sticky footer */

html,body
{
height:100%;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer
{
position: relative;
margin-top: -80px; /* negative value of footer height */
height: 80px;
clear:both;
padding-top:20px;
text-align: center;
color: #ffffff;
background-color: #666666;
border-top: #4aaaa5 10px solid;
}

@media only screen and (max-width: 800px) {

  body, p {
    font-size: 20px;
    width: 100%;
    margin: auto;
  }

  .card-img-top{
    width: 100%;
  }

  .margin-centered {
    margin-left: 2%;
    margin-right:2%;

  }

  h1 {
    font-size: 60px;
  }
}